/*--------------------------------------------------------------
# Atom Builder widget base styles 
--------------------------------------------------------------*/
.atom-builder-widget {
  margin: 3em auto;
  max-width: 1280px;
}

.atom-builder-widget:last-of-type {
  margin-bottom: 0;
}

.atom-builder-widget .widget-title {
  text-align: center;
  margin-bottom: 2em;
}
